@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #b07c95;
}

#column-2 {
  background: #f96d05;
}

#column-3 {
  background: #123d5d;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #7fffd4;
  }

  #column-1 {
    background-color: #6495ed;
  }

  #column-2 {
    background-color: #ff7f50;
  }

  #column-3 {
    background-color: #bdb76b;
  }

  footer {
    background-color: #8b0000;
  }

}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #8fbc8f;
  }

  #column-1 {
    background-color: #dcdcdc;
  }

  #column-2 {
    background-color: #ffd700;
  }

  #column-3 {
    background-color: #cd5c5c;
  }

  footer {
    background-color: #e0ffff;
  }

}
